<app-header></app-header>
<div class="article-detail-container">
  <a routerLink="/articles" class="back-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288H424c17.7 0 32-14.3 32-32s-14.3-32-32-32H109.3l73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"
      />
    </svg>
  </a>
  <h1>{{ article?.title }}</h1>
  <section class="article-details">
    <p><strong>Date :</strong> {{ article?.createdAt | date }}</p>
    <p><strong>Auteur :</strong> {{ article?.author.username }}</p>
    <p><strong>Thème :</strong> {{ article?.theme?.name }}</p>
  </section>
  <p>{{ article?.content }}</p>


  <section class="comments-section">
    <h2>Commentaires</h2>
    <div class="comments">
        <div *ngFor="let comment of article?.comments" class="comment">
          <p class="username">{{ comment.username }}</p>
          <p class="content">{{ comment.content }}</p>
        </div>
      </div>
  
    <form (ngSubmit)="addComment()" [formGroup]="commentForm">
        <textarea
          formControlName="content"
          placeholder="Écrivez ici votre commentaire"
          rows="3"
          required
        ></textarea>
        <button type="submit" [disabled]="commentForm.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480l0-83.6c0-4 1.5-7.8 4.2-10.8L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"
            />
          </svg>
        </button>
      </form>
  </section>
