<app-header></app-header>
<div class="create-article-container">
  <a routerLink="/articles" class="back-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288H424c17.7 0 32-14.3 32-32s-14.3-32-32-32H109.3l73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"
      />
    </svg>
  </a>
  <h2>Créer un nouvel article</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="createArticleForm">
    <div class="form-group">
        <select formControlName="themeId" required>
          <option value="" disabled>Sélectionner un thème</option>
          <option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</option>
        </select>
      </div>
    <div class="form-group">
      <input
        type="text"
        formControlName="title"
        placeholder="Titre de l'article"
        required
      />
    </div>
    <div class="form-group">
      <textarea
        formControlName="content"
        placeholder="Contenu de l'article"
        rows="5"
        required
      ></textarea>
    </div>
    <button type="submit" [disabled]="createArticleForm.invalid">Créer</button>
  </form>
</div>